@model FlightBooking.Models.FlightDetailsViewModel

<h2>Flight Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Flight Number:</dt>
        <dd>@Model.FlightNumber</dd>
        <dt>Departure Date Time:</dt>
        <dd>@Model.DepartureDateTime</dd>
        <!-- Add other fields for details here -->
    </dl>
</div>
