@model FlightBooking.ViewModels.SearchRequestViewModel

@{
    ViewBag.Title = "Flight Search";
}

<h2>Flight Search</h2>

<div id="searchFormContainer">
    @Html.Partial("_SearchForm", Model)
</div>

<div id="searchResultsContainer">
    <!-- Search results will be loaded here -->
</div>

<div id="flightDetailsContainer">
    <!-- Flight details will be loaded here -->
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        $(function () {
            $(".datepicker").datepicker();

            // Handle form submission and load search results
            $("#searchForm").submit(function (event) {
                event.preventDefault();
                var $form = $(this);
                $.post($form.attr("action"), $form.serialize(), function (data) {
                    $("#searchResultsContainer").html(data);
                });
            });

            // Handle details link click and load flight details
            $(document).on("click", ".detailsLink", function (event) {
                event.preventDefault();
                var $link = $(this);
                $.get($link.attr("href"), function (data) {
                    $("#flightDetailsContainer").html(data);
                });
            });
        });
    </script>
}
