@model FlightBooking.Models.FlightDetailsViewModel

@{
    ViewBag.Title = "Flight Details";
}

<h2>Flight Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Flight Number:</dt>
        <dd>@Model.FlightNumber</dd>
        <dt>Departure Date Time:</dt>
        <dd>@Model.DepartureDateTime</dd>
        <!-- Detay için diğer alanları buraya ekleyin -->
    </dl>
</div>
